<p id="notice"><%= notice %></p>

<h1 class="page-header">Services</h1>

<div class="row">
  <% @services.each do |s| %>

    <div class="col-sm-12 col-md-4">
      <div class="thumbnail span3">
         <%= image_tag s.image.url(:square), alt: "Responsive image" %>
        <div class="caption">
          <h3><%= s.title %></h3>
          <div class="scroll">
          <p><%= s.description %></p>
        </div>
          <% if s.user == current_user %>
            <a href="<%= service_path(s.id) %>" class="btn btn-info btn-sm" role="button">Show Service</a>
            <a href="<%= edit_service_path(s.id) %>" class="btn btn-info btn-sm" role="button">Edit Service</a>
            <a href="<%= service_path(s.id)%>" data-method="delete" class="btn btn-info btn-sm" role="button">Delete Service</a></p>
          <% else %>
            <a href="<%= service_path(s.id) %>" class="btn btn-info btn-sm" role="button">Show Service</a> 
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

