<!DOCTYPE html>
<html>
<head>
  <title>Sixerr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <header>
          <%= render(partial: 'shared/top_nav') %>
        </header>
    </div>
 </div>



<%# if user_signed_in? %>

  <%# link_to 'Signout', destroy_user_session_path%>

<%# else %>

  <%# link_to "Sign in", new_user_session_path %>
  <%# link_to "Sign up", new_user_registration_path %>
  
<%# end %>

<%= yield %>

<div class="row">
    <div class="col-sm-12">
      <hr />
      <footer>
        copyright Sixerr &copy; <%= Time.now.year %>
      </footer>
    </div>
  </div>
</div>

</body>
</html>
